body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

li {
  display: inline;
  font-size: 20px;
}

li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.table-block {
  display: none;
}
